{% extends "admin/layout.html" %} {% block content %}

<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3"><i class="bx bx-user"></i> Penguna</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="bx bx-home-alt"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Penguna</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Settings</button>
          <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
            <a class="dropdown-item" href="javascript:;">Another action</a>
            <a class="dropdown-item" href="javascript:;">Something else here</a>
            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
          </div>
        </div>
      </div>
    </div>
    <!--end breadcrumb-->
    <h6 class="mb-0 text-uppercase">Manajemen Penguna</h6>
    <hr/>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="all-user" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>#No</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Tanggal</th>
                <th>Aksi</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row page-titles mx-0">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">User Management</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">List Data</a></li>
    </ol>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="la la-users fs-2"></i> User Management</h4>
                <button type="button" class="btn btn-success btn-min-width mr-1 mb-1" id="add_user"
                data-bs-toggle="modal" data-bs-target="#modal_add_user"><i class="la la-plus"></i>
                  Add User</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <table id="all-user--">
                    <thead>
                      <tr>
                        <th>#No</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Tanggal</th>
                        <th>Aksi</th>
                      </tr>
                    </thead>
                  </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_user" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title"><i class="bi bi-person-plus fs-2 me-2"></i> <wrd>Tambah</wrd> Data Pengguna</h5>

              <!--begin::Close-->
              <a class="btn btn-icon" data-bs-dismiss="modal" aria-label="Close">
                  <span class="la la-times"></span>
              </a>
              <!--end::Close-->
          </div>

          <form action="adduser" method="POST">
            <input type="hidden" name="id" id="id" />
            <div class="modal-body">

              <fieldset>
                <div class="form-group">
                  <h5>Nama Lengkap</h5>
                  <div class="input-group">
                    <div class="col-xl m-b30">
											<input type="text" class="form-control" placeholder="Masukan Nama Lengkap" name="name" required>
										</div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <h5>Email</h5>
                  <div class="input-group">
                    <div class="col-xl m-b30">
											<input type="text" class="form-control" placeholder="Masukan Email" name="email" required>
										</div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <h5>Username</h5>
                  <div class="input-group">
                    <div class="col-xl m-b30">
											<input type="text" class="form-control" placeholder="Masukan Nama Username" name="username" required>
										</div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <h5>Password</h5>
                  <div class="input-group">
                    <div class="col-xl m-b30">
											<input type="password" class="form-control" placeholder="Masukan Password" name="password" required>
										</div>
                  </div>
                </div>
              </fieldset>
              
              <fieldset>
                <div class="form-group">
                  <h5>Role</h5>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" name="id_role" id="id_role"><i class="la la-users"></i></span>
                    </div>
                    <select class="form-select" name="id_role" id="id_role">
                      <option value="0">Role...</option>
                      <option value="1">Superadmin</option>
                      <option value="2">Admin</option>
                      <!-- {% for role in data_role %}
                      <option value="{{role.id}} required">{{role.role}}</option>
                      {% endfor %} -->
                  </select>
                  </div>
                </div>
              </fieldset>
              
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm mr-1 mb-1 " data-bs-dismiss="modal"><i class="la la-times"></i> Batal</button>
              <button type="submit" class="btn btn-success btn-sm mr-1 mb-1 "><i class="la la-check"></i> Simpan</button>
            </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}
