{% extends "admin/layout.html" %} {% block content %}

<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3"><i class="bx bx-user"></i> Penguna</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="bx bx-home-alt"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Penguna</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
          <button type="button" class="btn btn-primary" id="add_user" data-bs-toggle="modal" data-bs-target="#modal_add_user"><i class="bx bx-user-plus me-0" ></i> Tambah Penguna</button>
          <button hidden type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal_add_role"><i class="bx bx-user-check me-0" ></i> Role Penguna</button>
      </div>
    </div>
    <!--end breadcrumb-->
    <h6 class="mb-0 text-uppercase">Manajemen Penguna</h6>
    <hr/>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="all-user" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>#No</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Tanggal</th>
                <th>Aksi</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_user" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-pu border-bottom border-3 border-0">
          <h5 class="modal-title"><i class="bx bx-user-plus me-0"></i> <wrd>Tambah</wrd> Data Pengguna</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <form action="adduser" method="POST">
            <input type="hidden" name="id" id="id" />
            <div class="modal-body">

              <fieldset class="row g-3">
                <div class="col-md-12">
                  <label for="input13" class="form-label">Nama Lengkap</label>
                  <div class="position-relative input-icon">
                    <input type="text" class="form-control" name="name" placeholder="Masukan Nama Lengkap">
                    <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-user"></i></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="input13" class="form-label">Email</label>
                  <div class="position-relative input-icon">
                    <input type="email" class="form-control" name="email" placeholder="Masukan Email">
                    <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-envelope"></i></span>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="input13" class="form-label">Username</label>
                  <div class="position-relative input-icon">
                    <input type="text" class="form-control" name="username" placeholder="Masukan Username">
                    <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-user"></i></span>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="input13" class="form-label">Password</label>
                  <div class="position-relative input-icon">
                    <input type="password" class="form-control" name="password" placeholder="Masukan Password">
                    <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-lock-alt"></i></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="id_role" class="form-label">Role</label>
                  <select class="form-select" name="id_role" id="id_role">
                    <option value="0" selected="">Pilih...</option>
                    {% for role in data_role %}
                    <option value="{{role.role_id}}">{{role.role}}</option>
                    {% endfor %}
                  </select>
                </div>
              </fieldset>
              
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary me-0" data-bs-dismiss="modal"><i class="bx bx-x"></i> Batal</button>
              <button type="submit" class="btn btn-success me-0 "><i class="bx bx-check"></i> Simpan</button>
            </div>
          </form>
      </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_role" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-warning border-bottom border-3 border-0">
          <h5 class="modal-title"><i class="bx bx-user-plus me-0"></i> <wrd>Tambah</wrd> Role Pengguna</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <form action="addrole" method="POST">
            <div class="modal-body">

              <fieldset class="row g-3">
                <div class="col-md-12">
                  <label for="input13" class="form-label">Nama Role</label>
                  <div class="position-relative input-icon">
                    <input type="text" class="form-control" name="role" placeholder="Masukan Nama Role">
                    <span class="position-absolute top-50 translate-middle-y"><i class="bx bx-user"></i></span>
                  </div>
                </div>
              </fieldset>
              
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary me-0" data-bs-dismiss="modal"><i class="bx bx-x"></i> Batal</button>
              <button type="submit" class="btn btn-success me-0 "><i class="bx bx-check"></i> Simpan</button>
            </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}
