{% extends "admin/layout.html" %} {% block content %}
<div class="page-content">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
    <div class="col">
      <div class="card radius-10 bg-gradient-cosmic">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-auto">
              <p class="mb-0 text-white">total permohonan</p>
              <h4 class="my-1 text-white">48</h4>
              <p class="mb-0 font-13 text-white"></p>
            </div>
            <div id="chart1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 bg-gradient-ibiza">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-auto">
              <p class="mb-0 text-white">total PBG Terbit</p>
              <h4 class="my-1 text-white">84</h4>
              <p class="mb-0 font-13 text-white"></p>
            </div>
            <div id="chart2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 bg-gradient-ohhappiness">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-auto">
              <p class="mb-0 text-white">Total SLF Terbit</p>
              <h4 class="my-1 text-white">34</h4>
              <p class="mb-0 font-13 text-white"></p>
            </div>
            <div id="chart3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 bg-gradient-kyoto">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-auto">
              <p class="mb-0 text-dark">Total ditolak</p>
              <h4 class="my-1 text-dark">8</h4>
              <p class="mb-0 font-13 text-dark"></p>
            </div>
            <div id="chart4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end row-->
</div>
<div
  class="modal fade"
  id="exampleExtraLargeModal2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lengkapi Data Diri</h5>
        <!-- <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button> -->
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Gelar Depan</label>
                <input
                  type="text"
                  id="glr_depan"
                  name="glr_depan"
                  class="form-control"
                  placeholder="Masukan Gelar Depan"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Nama Lengkap</label>
                <input
                  type="text"
                  id="nama_lengkap"
                  name="nama_lengkap"
                  class="form-control"
                  placeholder="Masukan Nama Lengkap"
                  required
                />
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Gelar Belakang</label>
                <input
                  type="text"
                  id="glr_belakang"
                  name="glr_belakang"
                  class="form-control"
                  placeholder="Masukan Gelar Depan"
                  required
                />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Nomor KTP</label>
                <input
                  type="text"
                  id="no_ktp"
                  name="no_ktp"
                  class="form-control"
                  placeholder="Masukan Nomor KTP"
                  required
                />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Nomor Handphone</label>
                <input
                  type="text"
                  id="no_hp"
                  name="no_hp"
                  class="form-control"
                  placeholder="Masukan Nomor Handphone"
                  required
                />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Email</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Masukan Email"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Provinsi</label>
                <select
                  name="id_provinsi"
                  id="id_provinsi"
                  class="form-control"
                  required
                >
                  <option value="">PILIH</option>
                  {% for p in provinsi %}
                  <option value="{{ p.id_provinsi }}">
                    {{ p.nama_provinsi }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label"
                  >Kota / Kabupaten</label
                >
                <select
                  name="id_kabkot"
                  id="id_kabkot"
                  class="form-control"
                  required
                >
                  <option value="">PILIH</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Kecamatan</label>
                <select
                  name="id_kecamatan"
                  id="id_kecamatan"
                  class="form-control"
                  required
                >
                  <option value="">PILIH</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="" class="form-control-label">Kelurahan</label>
                <select
                  name="id_kelurahan"
                  id="id_kelurahan"
                  class="form-control"
                  required
                >
                  <option value="">PILIH</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-main">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
