<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SIMBG</title>

    {% include "admin/layout/css.html" %} {% include "admin/layout/style.html"
    %}
  </head>

  <body onload="info_noti()">
    <div class="wrapper">
      <div class="header-wrapper">
        {% include "admin/layout/header.html" %} {% if role == 100 %} {% include
        "admin/layout/menu/superadmin.html" %} {% endif %} {% if role == 10 %}
        {% include "admin/layout/menu/pemohon.html" %} {% endif %} {% if role ==
        20 %} {% include "admin/layout/menu/operatorteknis.html" %} {% endif %}
        {% if role == 30 %} {% include "admin/layout/menu/pengawasteknis.html"
        %} {% endif %} {% if role == 40 %} {% include
        "admin/layout/menu/kadintek.html" %} {% endif %} {% if role == 50 %} {%
        include "admin/layout/menu/operatorperizinan.html" %} {% endif %} {% if
        role == 60 %} {% include "admin/layout/menu/pengawasperizinan.html" %}
        {% endif %} {% if role == 70 %} {% include
        "admin/layout/menu/kadinperizinan.html" %} {% endif %}
      </div>
      <div class="page-wrapper">{% block content %} {% endblock %}</div>
      <div class="overlay toggle-icon"></div>
      <a href="javaScript:;" class="back-to-top"
        ><i class="bx bxs-up-arrow-alt"></i
      ></a>
      {% include "admin/layout/footer.html" %}
    </div>

    <div class="switcher-wrapper">
      <div class="switcher-btn"><i class="bx bx-cog bx-spin"></i></div>
      <div class="switcher-body">
        <div class="d-flex align-items-center">
          <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
          <button
            type="button"
            class="btn-close ms-auto close-switcher"
            aria-label="Close"
          ></button>
        </div>
        <hr />
        <h6 class="mb-0">Theme Styles</h6>
        <hr />
        <div class="d-flex align-items-center justify-content-between">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="lightmode"
              checked
            />
            <label class="form-check-label" for="lightmode">Light</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="darkmode"
            />
            <label class="form-check-label" for="darkmode">Dark</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="semidark"
            />
            <label class="form-check-label" for="semidark">Semi Dark</label>
          </div>
        </div>
        <hr />
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="minimaltheme"
            name="flexRadioDefault"
          />
          <label class="form-check-label" for="minimaltheme"
            >Minimal Theme</label
          >
        </div>
        <hr />
        <h6 class="mb-0">Header Colors</h6>
        <hr />
        <div class="header-colors-indigators">
          <div class="row row-cols-auto g-3">
            <div class="col">
              <div class="indigator headercolor1" id="headercolor1"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor2" id="headercolor2"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor3" id="headercolor3"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor4" id="headercolor4"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor5" id="headercolor5"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor6" id="headercolor6"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor7" id="headercolor7"></div>
            </div>
            <div class="col">
              <div class="indigator headercolor8" id="headercolor8"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "admin/layout/scripts.html" %}
  </body>
</html>
