<!--favicon-->
<link rel="icon" href="https://simbg.pu.go.id/favicon.ico" type="image/png" />
<!--plugins-->
<link
  href="{{baseURL}}assets/admin/plugins/notifications/css/lobibox.min.css"
  rel="stylesheet"
/>
<link
  href="{{baseURL}}assets/admin/plugins/vectormap/jquery-jvectormap-2.0.2.css"
  rel="stylesheet"
/>
<link
  href="{{baseURL}}assets/admin/plugins/simplebar/css/simplebar.css"
  rel="stylesheet"
/>
<link
  href="{{baseURL}}assets/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css"
  rel="stylesheet"
/>
<link
  href="{{baseURL}}assets/admin/plugins/bs-stepper/css/bs-stepper.css"
  rel="stylesheet"
/>
<!-- loader-->
<link href="{{baseURL}}assets/admin/css/pace.min.css" rel="stylesheet" />
<script src="{{baseURL}}assets/admin/js/pace.min.js"></script>
<!-- Bootstrap CSS -->
<link href="{{baseURL}}assets/admin/css/bootstrap.min.css" rel="stylesheet" />
<link
  href="{{baseURL}}assets/admin/css/bootstrap-extended.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
  rel="stylesheet"
/>
<link href="{{baseURL}}assets/admin/css/app.css" rel="stylesheet" />
<link href="{{baseURL}}assets/admin/css/icons.css" rel="stylesheet" />
<!-- Theme Style CSS -->
<link rel="stylesheet" href="{{baseURL}}assets/admin/css/dark-theme.css" />
<link rel="stylesheet" href="{{baseURL}}assets/admin/css/semi-dark.css" />
<link rel="stylesheet" href="{{baseURL}}assets/admin/css/header-colors.css" />

<link
  href="{{baseURL}}assets/admin/plugins/datatable/css/dataTables.bootstrap5.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  rel="stylesheet"
/>
