<!-- Bootstrap JS -->
<script src="{{baseURL}}assets/admin/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="{{baseURL}}assets/admin/js/jquery.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/simplebar/js/simplebar.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="{{baseURL}}assets/admin/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="{{baseURL}}assets/admin/plugins/chartjs/js/chart.js"></script>
<script src="{{baseURL}}assets/admin/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!--notification js -->
<script src="{{baseURL}}assets/admin/plugins/notifications/js/lobibox.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/notifications/js/notifications.min.js"></script>

<script src="{{baseURL}}assets/admin/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{baseURL}}assets/admin/plugins/select2/js/select2-custom.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{{baseURL}}assets/admin/js/index3.js"></script>
<!--app JS-->
<script src="{{baseURL}}assets/admin/js/app.js"></script>
<script>
  var baseUrl = "{{baseURL}}";
</script>
<script src="{{script}}"></script>
