<div class="primary-menu">
  <nav
    class="navbar navbar-expand-lg align-items-center"
    style="border-top: solid #1f3368"
  >
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header border-bottom">
        <div class="d-flex align-items-center">
          <div class="">
            <img
              src="assets/images/logo-icon.png"
              class="logo-icon"
              alt="logo icon"
            />
          </div>
          <div class="">
            <h4 class="logo-text">Rocker</h4>
          </div>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav align-items-center flex-grow-1">
          <li class="nav-item dropdown">
            <a class="nav-link" id="menu-dashboard" href="dashboard">
              <div class="parent-icon"><i class="bx bx-home-alt"></i></div>
              <div class="menu-title d-flex align-items-center">Beranda</div>
              <!-- <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div> -->
            </a>
            <!-- <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="index.html"><i class='bx bx-pie-chart-alt' ></i>Default</a></li>
                 <li><a class="dropdown-item" href="index2.html"><i class='bx bx-shield-alt-2'></i>Alternate</a></li>
                 <li><a class="dropdown-item" href="index3.html"><i class='bx bx-line-chart'></i>Graphical</a></li>
               </ul> -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="menu-pengawas_pupr" href="pengawas_pupr">
              <div class="parent-icon"><i class="bx bx-cube"></i></div>
              <div class="menu-title d-flex align-items-center">
                Pengawas PUPR
              </div>
              <!-- <div class="ms-auto dropy-icon"><i class='bx bx-chevron-down'></i></div> -->
            </a>
            <!-- <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="index.html"><i class='bx bx-pie-chart-alt' ></i>Default</a></li>
                 <li><a class="dropdown-item" href="index2.html"><i class='bx bx-shield-alt-2'></i>Alternate</a></li>
                 <li><a class="dropdown-item" href="index3.html"><i class='bx bx-line-chart'></i>Graphical</a></li>
               </ul> -->
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              id="menu-pengawas_teknis"
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div class="parent-icon"><i class="bx bx-cube"></i></div>
              <div class="menu-title d-flex align-items-center">
                Pengawas PUPR
              </div>
              <div class="ms-auto dropy-icon">
                <i class="bx bx-chevron-down"></i>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  id="submenu-penugasan_tpa"
                  href="pengawas_pupr"
                  ><i class="bx bx-envelope"></i>Penugasan TPA/TPT</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  id="submenu-pengjadwalan_konsultasi"
                  href="#"
                  ><i class="bx bx-conversation"></i>Penjadwalan Konsultasi</a
                >
              </li>
            </ul>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a
              id="menu-penilaian_konsultasi"
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div class="parent-icon"><i class="bx bx-lock"></i></div>
              <div class="menu-title d-flex align-items-center">
                Penilaian Konsultasi
              </div>
              <div class="ms-auto dropy-icon">
                <i class="bx bx-chevron-down"></i>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropend">
                <a
                  id="submenu-hasil_konsultasi"
                  href="penilaian_konsultasi"
                  class="dropdown-item"
                  ><i class="bx bx-receipt"></i>Hasil Konsultasi</a
                >
              </li>
              <li class="nav-item dropend">
                <a
                  id="submenu-perhitungan_retribusi"
                  href="#"
                  class="dropdown-item"
                  ><i class="bx bx-receipt"></i>Perhitungan Retribusi</a
                >
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link"
              id="menu-hasil_konsultasi"
              href="penilaian_konsultasi"
            >
              <div class="parent-icon"><i class="bx bx-pie-chart-alt"></i></div>
              <div class="menu-title d-flex align-items-center">
                Penilaian Konsultasi
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="menu-inspeksi" href="inspeksi">
              <div class="parent-icon"><i class="bx bx-lock"></i></div>
              <div class="menu-title d-flex align-items-center">Inspeksi</div>
            </a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a
              id="menu-inspeksi"
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div class="parent-icon"><i class="bx bx-lock"></i></div>
              <div class="menu-title d-flex align-items-center">Inspeksi</div>
              <div class="ms-auto dropy-icon">
                <i class="bx bx-chevron-down"></i>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropend">
                <a
                  id="submenu-penugasan_inspeksi"
                  href="#"
                  class="dropdown-item"
                  ><i class="bx bx-receipt"></i>Penugasan Inspeksi</a
                >
              </li>
              <li class="nav-item dropend">
                <a
                  id="submenu-input_hasil_inspeksi"
                  class="dropdown-item"
                  href="#"
                  ><i class="bx bx-cylinder"></i>Input Hasil Inspeksi</a
                >
              </li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" id="menu-download_shst" href="#">
              <div class="parent-icon"><i class="bx bx-file"></i></div>
              <div class="menu-title d-flex align-items-center">
                Download SHST
              </div>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a
              id="menu-monitoring"
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div class="parent-icon">
                <i class="bx bx-message-square-edit"></i>
              </div>
              <div class="menu-title d-flex align-items-center">Monitoring</div>
              <div class="ms-auto dropy-icon">
                <i class="bx bx-chevron-down"></i>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropend">
                <a
                  id="submenu-monitoring_konsultasi"
                  href="konsultasi"
                  class="dropdown-item"
                  ><i class="bx bx-receipt"></i>Monitoring Konsultasi</a
                >
              </li>
              <li class="nav-item dropend">
                <a
                  id="submenu-monitoring_imb_ver1"
                  href="#"
                  class="dropdown-item"
                  ><i class="bx bx-receipt"></i>Monitoring IMB Ver 1</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
