{% extends "admin/layout.html" %} {% block content %}
<div class="col-12 col-lg-12">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-0">Data Hasil Konsultasi</h4>
      <hr>
      <!-- <h5>Folders</h5> -->
      <div class="row mt-3">
        <div class="col-12 col-lg-4">
          <div class="card shadow-none border radius-15">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="font-30 text-primary"><i class='bx bxs-folder'></i>
                </div>
                <!-- <div class="user-groups ms-auto">
                  <img src="assets/images/avatars/avatar-1.png" width="35" height="35" class="rounded-circle" alt="" />
                  <img src="assets/images/avatars/avatar-2.png" width="35" height="35" class="rounded-circle" alt="" />
                </div>
                <div class="user-plus">+</div> -->
              </div>
              <h6 class="mb-0 text-primary">Pemeriksaan Tahap Arsitektur</h6>
              <small>15 files</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card shadow-none border radius-15">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="font-30 text-primary"><i class='bx bxs-folder'></i>
                </div>
                <!-- <div class="user-groups ms-auto">
                  <img src="assets/images/avatars/avatar-4.png" width="35" height="35" class="rounded-circle" alt="" />
                </div> -->
              </div>
              <h6 class="mb-0 text-primary">Finalisasi Bangunan</h6>
              <small>345 files</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card shadow-none border radius-15">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="font-30 text-primary"><i class='bx bxs-folder'></i>
                </div>
                <!-- <div class="user-groups ms-auto">
                  <img src="assets/images/avatars/avatar-7.png" width="35" height="35" class="rounded-circle" alt="" />
                  <img src="assets/images/avatars/avatar-8.png" width="35" height="35" class="rounded-circle" alt="" />
                </div> -->
              </div>
              <h6 class="mb-0 text-primary">Pemeriksaan Tahap Akhir</h6>
              <small>143 files</small>
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
      <div class="card radius-10 border-start border-0 border-4 border-success">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">Selesai Pemeriksaan</p>
              <h4 class="my-1 text-success">36</h4>
            </div>
            <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class='bx bxs-bar-chart-alt-2' ></i>
            </div>
          </div>
        </div>
     </div>

      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Jenis Permohonan</th>
                  <th>No. Registrasi</th>
                  <th>Nama Pemilik</th>
                  <th>Lokasi BG</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      Prasarana Bangunan Gedung
                    </div>
                  </td>
                  <td>BLA/123135432563/87967857</td>
                  <td>John Doe</td>
                  <td>Jl. Jakarta 10, Kota Bandung</td>
                  <td><span class="badge bg-secondary">Finalisasi Bangunan</span></td>
                  <td style="text-align: center;">
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-edit me-0"></i>
										</button>
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-left-arrow me-0"></i>
										</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      </div>Bangunan Gedung Kepentingan Umum
                    </div>
                  </td>
                  <td>BLA/123135432563/87967857</td>
                  <td>Jane Doe</td>
                  <td>Jl. Jakarta 10, Kota Bandung</td>
                  <td><span class="badge bg-secondary">Tahap Akhir</span></td>
                  <td style="text-align: center;">
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-edit me-0"></i>
										</button>
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-left-arrow me-0"></i>
										</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      </div>Bangunan Gedung Kepentingan Umum
                    </div>
                  </td>
                  <td>BLA/123135432563/87967857</td>
                  <td>Jane Doe</td>
                  <td>Jl. Jakarta 10, Kota Bandung</td>
                  <td><span class="badge bg-secondary">Tahap Arsitektur</span></td>
                  <td style="text-align: center;">
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-edit me-0"></i>
										</button>
                    <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-left-arrow me-0"></i>
										</button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
{% endblock %}
