{% extends "admin/layout.html" %} {% block content %}

<div class="card">
  <div class="card-body">

    <ul class="nav nav-tabs nav-primary mt-3 mb-2" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab" aria-selected="true">
          <div class="d-flex align-items-center">
            <div class="tab-icon"><i class='bx bx-home font-18 me-1'></i>
            </div>
            <div class="tab-title">Validasi SLF BG Eksisting</div>
          </div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab" aria-selected="false">
          <div class="d-flex align-items-center">
            <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
            </div>
            <div class="tab-title">Validasi Penerbitan PBG</div>
          </div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#primarythree" role="tab" aria-selected="false">
          <div class="d-flex align-items-center">
            <div class="tab-icon"><i class='bx bx-user-pin font-18 me-1'></i>
            </div>
            <div class="tab-title">Validasi SLF Bangunan Baru</div>
          </div>
        </a>
      </li>
    </ul>

    <div class="tab-content py-3">

      <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
      
        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-danger">
             <div class="card-body">
               <div class="d-flex align-items-center">
                 <div>
                   <p class="mb-0 text-secondary">Belum Verifikasi</p>
                   <h4 class="my-1 text-danger">24</h4>
                 </div>
                 <div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"><i class='bx bxs-bar-chart-alt-2'></i>
                 </div>
               </div>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-success">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 text-secondary">Sudah Verifikasi</p>
                    <h4 class="my-1 text-success">36</h4>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class='bx bxs-bar-chart-alt-2' ></i>
                  </div>
                </div>
              </div>
          </div>
        </div>
      
        <div class="table-responsive">
          <table id="table-b_gedung_baru" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Jenis Permohonan</th>
                <th>No. Registrasi</th>
                <th>No. SK</th>
                <th>Nama Pemilik</th>
                <th>Lokasi BG</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Prasarana Bangunan Gedung
                  </div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>John Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-danger">Menunggu Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Bangunan Gedung Kepentingan Umum</div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>Jane Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-success">Sudah Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>

      <div class="tab-pane fade" id="primaryprofile" role="tabpanel">

        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-danger">
             <div class="card-body">
               <div class="d-flex align-items-center">
                 <div>
                   <p class="mb-0 text-secondary">Belum Verifikasi</p>
                   <h4 class="my-1 text-danger">24</h4>
                 </div>
                 <div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"><i class='bx bxs-bar-chart-alt-2'></i>
                 </div>
               </div>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-success">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 text-secondary">Sudah Verifikasi</p>
                    <h4 class="my-1 text-success">36</h4>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class='bx bxs-bar-chart-alt-2' ></i>
                  </div>
                </div>
              </div>
          </div>
        </div>
      
        <div class="table-responsive">
          <table id="table-b_eksisting" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Jenis Permohonan</th>
                <th>No. Registrasi</th>
                <th>No. SK</th>
                <th>Nama Pemilik</th>
                <th>Lokasi BG</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Prasarana Bangunan Gedung
                  </div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>John Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-danger">Menunggu Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Bangunan Gedung Kepentingan Umum</div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>Jane Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-success">Sudah Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>

      <div class="tab-pane fade" id="primarythree" role="tabpanel">
      
        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-danger">
             <div class="card-body">
               <div class="d-flex align-items-center">
                 <div>
                   <p class="mb-0 text-secondary">Belum Verifikasi</p>
                   <h4 class="my-1 text-danger">24</h4>
                 </div>
                 <div class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"><i class='bx bxs-bar-chart-alt-2'></i>
                 </div>
               </div>
             </div>
          </div>
        </div>
        <div class="col">
          <div class="card radius-10 border-start border-0 border-4 border-success">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0 text-secondary">Sudah Verifikasi</p>
                    <h4 class="my-1 text-success">36</h4>
                  </div>
                  <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class='bx bxs-bar-chart-alt-2' ></i>
                  </div>
                </div>
              </div>
          </div>
        </div>
      
        <div class="table-responsive">
          <table id="table-b_prasarana_baru" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Jenis Permohonan</th>
                <th>No. Registrasi</th>
                <th>No. SK</th>
                <th>Nama Pemilik</th>
                <th>Lokasi BG</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Prasarana Bangunan Gedung
                  </div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>John Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-danger">Menunggu Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    Bangunan Gedung Kepentingan Umum</div>
                </td>
                <td>BLA/123135432563/87967857</td>
                <td>SK/4569459690649/91239853</td>
                <td>Jane Doe</td>
                <td>Jl. Jakarta 10, Kota Bandung</td>
                <td><span class="badge bg-success">Sudah Verifikasi</span></td>
                <td style="text-align: center;">
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-primary"><i class="bx bx-file me-0"></i>
                  </button>
                  <button type="button" style="height: 30px; font-size: 10px;" class="btn btn-outline-warning"><i class="bx bx-edit me-0"></i>
                  </button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
      </div>

      
    </div>

  </div>
      
</div>

{% endblock %}
