<!doctype html>
<html lang="en">
  {% include "auth/parts/head.html" %}

  <body class="">
    <div class="wrapper">
      <div class="section-authentication-cover">
        <div class="">
          <div class="row g-0">
  
            <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex">
  
                          <div class="card shadow-none bg-transparent shadow-none rounded-0 mb-0">
                <div class="card-body">
                                   <img src="assets/admin/images/login-images/login-cover.svg" class="img-fluid auth-img-cover-login" width="650" alt=""/>
                </div>
              </div>
              
            </div>
  
            <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
              <div class="card rounded-0 m-3 shadow-none bg-transparent mb-0">
                <div class="card-body p-sm-5">
                  <div class="">
                    <div class="mb-3 text-center">
                      <img src="https://simbg.pu.go.id/assets/admin/layout3/images/LogoPUPR.png" width="200" alt="">
                    </div>
                    <div class="text-center mb-4">
                      <h4 class="mb-0">Masuk</h4>
                    </div>
                    <div class="form-body">
                      {% include "auth/parts/form.html" %}
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--end row-->
        </div>
      </div>
    </div>

    {% include "auth/parts/scripts.html" %}
  </body>
</html>
